spring:
  application:
    name: MedicalAppointmentBookingProject

  datasource:
    url: jdbc:postgresql://db.vpomwlbzuuiakpjhtske.supabase.co:5432/postgres?sslmode=require
    username: postgres
    password: Insight@Lab123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
